<ion-header>
    <!-- <img class="tBnt" src="assets/edit.png" (click)='edit_bnt()'>
    <img class="tBnt" style="float: right;" src="assets/search.png" (click)='edit_bnt()'> -->
    <ion-toolbar class="toolbar-1" [hidden]="hiddenFlag">
        <ion-title>
            <!-- <ion-icon name="heart-empty"class="heart-empty-icon" ion-button (click)="navigate()"></ion-icon> -->
            <!-- <ion-button fill="clear" (click)="edit_album()" class="edit-button">편집</ion-button> -->
            <ion-button fill="clear" (click)="createNewFolder()">폴더 추가</ion-button>
            <img src="assets/icon/magnifying-glass.png" class="search-icon" (click)="gotoSearch()">
            <!-- <ion-icon name="search" class="search-icon" (click)="gotoSearch()"></ion-icon>         -->
          </ion-title>
             
  </ion-toolbar>
  <ion-toolbar class="toolbar-1" [hidden]="!hiddenFlag">
    <ion-grid>
      <ion-row>
          <!-- <ion-button fill="clear" (click)="createNewFolder()">+</ion-button>
          <ion-button fill="clear">수정</ion-button>
          <ion-button fill="clear">삭제</ion-button>
          <ion-button fill="clear" (click)="finish_edit()">완료</ion-button> -->
      </ion-row>
    </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="grid-category">
    <ion-row *ngFor="let folder of folders; index as i">
      <ion-col col-3  *ngIf="i%2==0">
        <div>
          <img class="thumb" src="{{folder.image}}" (click)="folderModifyBtnClick(folder)">
          <br>
          <label (click)="folderModifyBtnClick(folder)">{{folder.folderName}}</label>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-category">
    <ion-row *ngFor="let folder of folders; index as i">
      <ion-col col-3  *ngIf="i%2 !=0">
        <div>
          <img class="thumb" src="{{folder.image}}" (click)="folderModifyBtnClick(folder)">
          <br>
          <label (click)="folderModifyBtnClick(folder)">{{folder.folderName}}</label>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

