<ion-header>
    <ion-toolbar class="toolbar-1" [hidden]="hiddenFlag">
        <ion-title>
            <ion-button fill="clear" (click)="createNewFolder()">폴더 추가</ion-button>
            <img src="assets/icon/magnifying-glass.png" class="search-icon" (click)="gotoSearch()">
          </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="grid-category">
    <ion-row *ngFor="let folder of folders; index as i">
      <ion-col col-3  *ngIf="i%2==0">
        <div>
          <img class="thumb" src="{{folder.image}}" (click)="folderModifyBtnClick(folder)">
          <br>
          <label (click)="folderModifyBtnClick(folder)">{{folder.folderName}}</label>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-category">
    <ion-row *ngFor="let folder of folders; index as i">
      <ion-col col-3  *ngIf="i%2 !=0">
        <div>
          <img class="thumb" src="{{folder.image}}" (click)="folderModifyBtnClick(folder)">
          <br>
          <label (click)="folderModifyBtnClick(folder)">{{folder.folderName}}</label>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

