<ion-header>
  <ion-toolbar>
    <!-- <img class="tBnt" src="assets/edit.png" (click)='edit_bnt()'>
      <img class="tBnt" style="float: right;" src="assets/search.png" (click)='edit_bnt()'> -->

      <ion-button fill="clear">편집</ion-button>
     
      <ion-icon  name="search" class="search-icon" (click)="gotoSearch()"></ion-icon>      
    

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="navigate()" >if you click tag</ion-button> -->
  <ion-grid class="grid-category">
    <ion-row *ngFor="let folder of tagfolders; index as i">
      <ion-col col-3  *ngIf="i%2==0">
        <div>
          <img class="thumb" src="{{folder.mainPhotoPath}}" (click)="folderModifyBtnClick(folder)">
          <br>
          <label (click)="folderModifyBtnClick(folder)">{{folder.tagName}}</label>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-category">
    <ion-row *ngFor="let folder of tagfolders; index as i">
      <ion-col col-3  *ngIf="i%2 !=0">
        <div>
          <img class="thumb" src="{{folder.mainPhotoPath}}" (click)="folderModifyBtnClick(folder)">
          <br>
          <label (click)="folderModifyBtnClick(folder)">{{folder.tagName}}</label>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
    
</ion-content>
