<ion-header>
  <ion-toolbar class="toolbar-1">
      <ion-title>
          <img src="assets/icon/magnifying-glass.png" class="search-icon" (click)="gotoSearch()">
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid-category">
    <ion-row *ngFor="let folder of tagfolders; index as i">
      <ion-col col-3  *ngIf="i%2==0">
        <div>
          <img class="thumb" src="{{folder.mainPhotoPath}}" (click)="gotoTagFolder(folder.tagName)">
          <br>
          <label (click)="gotoTagFolder(folder.tagName)">{{folder.tagName}}</label>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-category">
    <ion-row *ngFor="let folder of tagfolders; index as i">
      <ion-col col-3  *ngIf="i%2 !=0">
        <div>
          <img class="thumb" src="{{folder.mainPhotoPath}}" (click)="gotoTagFolder(folder.tagName)">
          <br>
          <label (click)="gotoTagFolder(folder.tagName)">{{folder.tagName}}</label>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
    
</ion-content>
