.toolbar-1{
  height: 45px;
}
ion-col{
    text-align: center;
}


.search-icon {
    width: 30px;
    height: 30px;
    float: right; 
    margin-bottom: 5px;

  }
  .grid-category{
    float: left;
    width: 50%;
  }
  