<ion-app>
    <ion-header>
      <ion-title>
        <div class="headPhotoInfo">
          2018년 11월 1일
          <br>송파구 - 잠실2동
        </div>
        
      </ion-title>
      <div>
        <ion-buttons class="headSearchIcon">
          <ion-button fill="outline">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
  </ion-header>
  
  
  <ion-content>
    <div id="photo container">
      <img src="../../assets/imgs/KakaoTalk_20180914_174904375.jpg">
    </div>
    <div>
      <ion-buttons *ngFor="let item of tags">
        <ion-button  *ngIf="item !== undefined" class="tag" 
        (click)="tagModifyBtnClick()" id="oldtag{{tags.indexOf(item)}}">{{item}}</ion-button>
      </ion-buttons>
    </div>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar class="photofooter">
      
      <ion-grid>
        <ion-row align-items="center">
          <ion-col>
                <ion-button >
                    수정
                  </ion-button>
                <ion-button >
                    삭제
                  </ion-button>
              </ion-col>      
        </ion-row>
      </ion-grid>
      <ion-button slot="end" (click) = "presentAlertPromptAdd()">
        추가
       </ion-button>  
    </ion-toolbar>
  </ion-footer>
  </ion-app>