.toolbar-1{
    height: 45px;
}
.backButton {
  width: 30px;
  height: 30px;
  float:left;
  margin-bottom: 5px;
}
.backtoFolder{
    --icon-margin-start:0px;
    --icon-padding-start:0px;
    --icon-padding-end:0px;
    --icon-margin-end:0px;
}
.album-name{
    float:left;
}

.name{
  float: left;
}

.heart-icon {
  width: 30px;
  height: 30px;
  margin:3px;
  float:right;
  margin-bottom: 5px;
  }
.search-icon {
  width: 30px;
  height: 30px;
  margin:3px;
  float:right;
}
.grid-category{
  float: left;
  width: 25%;
}
.images{
  border-radius: 5px;
}