
.backButton{
    width: 25px;
    height: 25px;
    position: absolute;
    left:0px;
    top:15px;
}

.searchBar{
    padding:0px;
    margin-left:4px;
    float: right;
    
}

.result_ion-item{
    width: 25%;
    border-radius: 50%;
    padding: 5px;
}

.grid-category{
    align-content: center;
    overflow: hidden;
    float: left;
    width:25%;
  }

  .images{
    image-orientation: from-image;
    border-radius: 5px;
    // transform:rotate(90deg);
  }
  .heart-on-image{
    width: 13px;
    position: relative;
    float:right;
    top:-20px;
    left:-5px;
  }
  