<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <img src="assets/icon/left-arrow.png" (click)="gotoBack()" class="backButton">
      </ion-col>
      
      <ion-col size="8">
        <ion-searchbar [(ngModel)]="keyword" name="search_bar" placeholder="searching..."  type="text" class="searchBar"></ion-searchbar>
      </ion-col>
      <ion-col size ="1"><ion-button (click)="getresult()">검색</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-header>

<ion-content>
  <div>
    <ion-grid class="grid-category" >
      <ion-row *ngFor="let img of queryResults; index as i" >
        <ion-col col-3  *ngIf="i%4==0"class="grid-test">
            <img class="images" src="{{img.image}}"  (click)="gotoDetail(img)" >
            <img *ngIf="img.like==='1'" src="assets/icon/like-home.png" class="heart-on-image" >
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="grid-category">
      <ion-row *ngFor="let img of queryResults; index as i" >
            <ion-col  col-3  *ngIf="i%4 == 1" class="grid-test">
              <img class="images" src="{{img.image}}"  (click)="gotoDetail(img)">
              <img *ngIf="img.like==='1'" src="assets/icon/like-home.png" class="heart-on-image">
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="grid-category">
      <ion-row *ngFor="let img of queryResults; index as i" >
            <ion-col  col-3  *ngIf="i%4 == 2" class="grid-test">
              <img class="images" src="{{img.image}}" (click)="gotoDetail(img)">
              <img *ngIf="img.like==='1'" src="assets/icon/like-home.png" class="heart-on-image" >
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="grid-category">
      <ion-row *ngFor="let img of queryResults; index as i" >
            <ion-col  col-3  *ngIf="i%4 == 3" class="grid-test">
              <img class="images" src="{{img.image}}" (click)="gotoDetail(img)">
              <img *ngIf="img.like==='1'" src="assets/icon/like-home.png" class="heart-on-image" >
            </ion-col>
        </ion-row>
    </ion-grid> 
  </div>
</ion-content>
