
.toolbar-1{
    height: 45px;
  }
  .heart-empty-icon {
    width: 30px;
    height: 30px;
    float:left;
    margin-bottom: 5px;
    
  }
  .search-icon {
    width: 30px;
    height: 30px;
    float: right;
    margin-bottom: 5px;
  }
  
  .photo-view{
    --ion-grid-columns: 12;
    
  }
  
  .grid-album{
    margin:2px;
  }
  .grid-category{
    align-content: center;
    overflow: hidden;
    float: left;
    width:25%;
  }

  .images{
    border-radius: 5px;
    transform:rotate(90deg);
  }
  .heart-on-image{
    width: 13px;
    position: relative;
    float:right;
    top:-20px;
    left:-5px;
  }
  